node_modules
src
*.ts
*.map
.git
.gitignore
NOTICE.md
CHANGELOG.md
CONTRIBUTING.md
docs
.eslint*
eslint.config.mjs
.prettierrc
.prettierignore
tsconfig.json
pnpm-*.yaml
.vscode
.vscode-test.mjs
vitest.config.mts
coverage
lemonade_source
*.vsix
